<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>王者荣耀-账号详情</title>
    <script th:src="@{/front/bootstrap/js/jquery-3.4.1.min.js}"></script>
    <link th:href="@{/front/bootstrap/css/bootstrapValidator.css}" rel="stylesheet">
    <link th:href="@{/front/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/front/bootstrap/css/bootstrap-table.css}" rel="stylesheet"/>

    <script th:src="@{/front/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/front/bootstrap/js/bootstrap-table.js}"></script>
    <script th:src="@{/front/bootstrap/js/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/front/bootstrap/js/bootstrapValidator.js}"></script>
</head>
<body>


</body>
</html>